<div id="landingContainer" style="display: none;">
    <div id="upperContainer" style="display: flex; width: 100%;">
        <div style="flex: 1; padding: 15px 50px 20px 30px; margin-top: 50px">
            <div id="card" style="display: flex; gap: 5px; flex-direction: column; width: 100%">
                <h4 style="margin: 0; text-align: center">Patchnote</h4>
                <p style="font-size: 15px; padding: 0 8px" id="patchNoteContent">
                    No new patchnote available ...
                </p>
            </div>
        </div>
        <div style="flex: 2; display: flex; align-items: center; justify-content: center;">
            <img id="logo" src="assets/images/logo.png" alt="Logo"/>
        </div>
        <div style="flex: 1; padding: 15px 50px 20px 30px; margin-top: 50px; display: flex; flex-direction: column; gap: 10px">
            <div id="card" style="display: flex; gap: 10px; align-items: center; justify-content: center; padding: 12px">
                <div id="avatarContainer"></div>
                <div style="display: flex; gap: 2px; flex-direction: column;">
                    <span>Connected as :</span>
                    <span id="user_text"><%- lang('landing.usernamePlaceholder') %></span>
                </div>
            </div>

            <div id="card">
                <div id="server_status_wrapper" style="display: flex; align-items: center; justify-content: center; padding: 10px; gap: 5px; font-size: 15px">
                    <span class="bot_label" id="landingPlayerLabel" style="font-size: 15px; margin-left: 40px"><%- lang('landing.serverStatus') %></span>
                    <span id="player_count" style="font-size: 15px"><%- lang('landing.serverStatusPlaceholder') %></span>
                </div>
            </div>

            <div id="card" style="display: flex; flex-direction: column; gap: 10px; align-items: center; justify-content: center; padding: 12px">
                <h4 style="text-align: center; margin: 0">Shortcuts</h4>
                <div style="display: flex; gap: 10px; align-items: center; justify-content: center;">
                    <a href="https://www.google.com" target="_blank">
                        <img src="assets/images/discordbutton_normal.png" alt="Discord Button" style="cursor: pointer;">
                    </a>
                    <a href="https://discord.com/invite/AZJHfA8bT5" target="_blank">
                        <img src="assets/images/shopbutton_normal.png" alt="Shop Button" style="cursor: pointer;">
                    </a>
                    <a href="https://beyondtheseas.net/" target="_blank">
                        <img src="assets/images/webbutton_normal.png" alt="Web Button" style="cursor: pointer;">
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div id="upperContainer" style="display: flex; width: 100%; align-items: center;">
        <div style="flex: 1; padding: 50px 35px 50px 100px; width: 100%">
            <progress id="launch_progress" value="0" max="100" style="width: 100%; height: 20px; border-radius: 10px;"></progress>
            <p id="launch_progress_info" style="font-size: 12px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin-top: 5px">Click on play to start the game ...</p>
        </div>
        <div style="flex: 0; padding: 0 100px 25px 0;">
            <img id="launch_button" src="assets/images/playbutton_normal.png" alt="Launch Button" style="cursor: pointer; width: 80px; height: auto;">
        </div>
    </div>
    <script src="./assets/js/scripts/landing.js"></script>
</div>